@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/*Estilo Texto Geral*/

.h5,
p,
ul,
li,
a {
    font-family: Nunito;
    font-family: 50px;
    text-decoration: none;
    color: #535B5B;
}


/* body {
    margin: 0;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
} */


/*Page: Index @JessikaFernandes*/


/*Menu*/

.nav-menu {
    float: left;
    position: absolute;
    width: 100%;
    background-color: #fff;
}

.logo {
    float: left;
    width: 10%;
}

.title-modal {
    font-family: Nunito;
    font-size: 30px;
}

.login-user {
    padding-top: 5px;
    padding-bottom: 0px;
    float: right;
    text-decoration: none;
    font-size: 24px;
    background-color: #fff;
    border: #fff;
    color: #460fcd;
    text-align: center;
}

.login-user:hover {
    color: #450fcda9;
}


/*Painel Principal*/

.jumbotron-with-background {
    background-image: url(../img/index_main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
    height: 400px;
}

.display-title {
    font-family: Nunito;
    padding-top: 30%;
    text-align: right;
}

.div-button-info-banner {
    padding-left: 100px;
}

.btn-info-banner {
    background-color: #460fcd;
    border: #fff;
    font-size: 20px;
    border: #fff;
    text-align: center;
    color: #fff;
}

.btn-info {
    background-color: #460fcd;
    border: #fff;
}


/*Estilo card pet*/

.card {
    border: 1px solid;
    border-color: #dcdcdc;
    border-radius: 10px;
}

.card:hover {
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(184, 175, 184, 1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(184, 175, 184, 1);
    box-shadow: 0px 3px 5px 0px rgba(184, 175, 184, 1);
    transition: 0.1s;
}

.card-title {
    text-decoration: none;
    color: #000;
    text-align: left;
}

.card-body {
    padding: 10px;
    text-decoration: none;
    color: #535B5B;
}

.card-icon {
    border-radius: 50%;
    color: #dcdcdc;
    border: 1px solid;
    padding: 5px;
    border-radius: 50%;
}

.card-img-top {
    border-radius: 10px 10px 2px 2px;
    padding: 0;
}


/*Fim estilo card pet*/

.donate-pet {
    height: 200px;
}

.register {
    padding-bottom: 50px;
}


/*Page: Index @JessikaFernandes*/

.footer {
    padding-top: 20px;
    background-color: #F3F0F0;
    text-decoration: none;
}


/*.mb-4 {
    font-family: Nunito;
    font-size: 15px;
    text-align: left;
    padding: 5px;
}*/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload {
    width: 50%;
    float: center;
}


/*Configuração para tablets*/


/* @media screen and (min-width: 481px) and (max-width: 1366px) {} */